:root {
    --gray: #1f1e1f;
    --light-gray: #2f2f2f;
    --border-gray: #434343;
    --red: #d84d43;
    --dark-red: #BA342A;
    --peach: #E17167;
    --green: #48ae57;
    --yellow: #f2a22c;
    --blue: #2788bc;
    --dark-blue: #1F6D97;
    --light-blue: #A0D2EB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

body {
    background-color: #111110;
    background-image: 
    linear-gradient(var(--fade-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--fade-color) 1px, transparent 1px);
}

.banner {
    display: grid;
    margin: 20px 8px 0;
    grid-template-columns: 2fr 1fr;
    font-size: 1.6em;
}

.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    background-color: var(--gray);
    color: white;
    max-width: 800px;
}

.banner-button {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--gray);
    border-right: 1px solid var(--border-gray);
    width: 100%;
    max-width: 150px;
}

.banner-shrink {}

@media (max-width: 1000px) {
    .banner-shrink {
        display: none;
    }
    .banner-box {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

.banner-button:hover {
    background-color: black;
    cursor: pointer;
}

.banner-box input {
    border: 1px solid var(--border-gray);
    background-color: var(--light-gray);
    font-size: 0.5em;
    width: 100%;
    height: 52px;
    color: white;
    padding: 0 10px;
}

.banner-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    padding: 10px;
    border-right: 1px solid var(--peach);
    border-top: 1px solid var(--peach);
    border-left: 1px solid var(--peach);
    border-bottom: 3px solid var(--dark-red);
    box-shadow: 0;
    margin: 0;
    max-with: 47px;
}

.banner-search-button:hover {
    background-color: var(--dark-red);
    border: none;
}

.banner-box svg {
    width: 40px;
    height: 20px;
}

.top-border {
    border-top: 2px solid var(--border-color);
}

.bottom-border {
    border-bottom: 2px solid var(--border-color);
}

.left-border {
    border-left: 4px solid var(--border-color);
}

.red-border {
    --border-color: var(--red);
}

.dark-red-border {
    --border-color: var(--dark-red);
}

.blue-border {
    --border-color: var(--blue);
}
.dark-blue-border {
    --border-color: var(--dark-blue);
}

.yellow-border {
    --border-color: var(--yellow);
}

.green-border {
    --border-color: var(--green);
}

.index-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 50px 0;

    justify-content: center;
    place-items: center;
    color: white;
    width: 100%;
}

.index-grid .one-item-left {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.index-grid .two-items {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
}

.index-grid .three-items {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

@media (max-width: 1000px) {
    .index-grid .one-item-left {
        width: 75%;
    }
    .index-grid .two-items {
        width: 75%;
    }
    .index-grid .three-items {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .index-grid .one-item-left {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }
    .index-grid .two-items {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .index-grid .three-items {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}

.host-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    justify-content: center;
    place-items: center;
    color: white;
    width: 100%;
    margin-top: 75px;
}

.host-grid .one-item-left {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    max-width: 2000px;
}

.host-grid .two-items {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    max-width: 2000px;
}

@media (max-width: 1000px) {
    .host-grid .one-item-left {
        grid-row-gap: 20px;
    }
    .host-grid .two-items {
        width: 80%;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}

.content-box {
    background-color: var(--gray);
    padding: 20px;
}

.heading-box {
    background-color: var(--gray);
    padding: 5px;
}

.content-box svg {
    width: 25px;
    height: 20px;
}

.fake-link {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-row: auto;
    gap: 10px;
    
    cursor: pointer;
    color: #2196f3;
}

a {
    text-decoration: none;
    color: #2196f3;
}

a svg {
    width: 15px;
    height: 15px;
}

.description {
    padding-top: 20px;
    color: #a5a5a5;
}

.table {
    width:100%;
    padding: 25px 0;
}

.table tr {
    border-bottom: 1px solid #a5a5a5;
}

.table th {
    color: #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
    padding: 12px 0;
    font-size: 1.1em;
}

.table td {
    color: #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
    padding: 12px 0;
}

.alert {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    margin-top: 50px;
}

.alert-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-icon {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    height: 100%;
    padding: 10px;
}

.alert-icon svg {
    width: 50px;
    height: 40px;
}

.alert-notice {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    gap: 15px;
    color: black;
    background-color: var(--light-blue);
}

.ip-title {
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 2.5em;
}

.content-title {
    font-size: 1.5em;
}

.port-box {
    display: grid;
    place-items: center;
    background-color: var(--blue);
    width: 48px;
    height: 48px;
}

.port-box:hover {
    background-color: #45A6F2;
}

.port-grid {
    padding-top: 20px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
}

.port-grid a {
    text-decoration: none;
    color: white;
}


.highlight {
    background-color: var(--gray);
}
